h1{
    color:rgb(34, 71, 233);
    background-color: rgb(14, 14, 130);
}
.para1{
    color:purple;
}
.para2{
    color:rgb(232, 164, 38);
    background-color:rgb(235, 235, 67);
}
.para3{
    background-color:rgb(68, 150, 132);
}